<div class="footer">
  <table>
    <tr>
      <td>GitHub</td>
      <td>
        <a href="https://github.com/vardhmanJain"
          >: https://github.com/vardhmanJain</a
        >
      </td>
    </tr>
    <tr>
      <td>LinkedIn</td>
      <td>
        <a href="https://www.linkedin.com/in/vardhman-jain-881b4b179/"
          >: https://www.linkedin.com/in/vardhman-jain-881b4b179/</a
        >
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
        <a href="#">: vardhmanjain293@gmail.com</a>
      </td>
    </tr>
  </table>
</div>
